<!DOCTYPE html>
<html lang="sl" class="min-h-screen">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% if metaTitle is defined %}{{ metaTitle }}{% else %}{{ title }} | Cene živil{% endif %}{% endblock %}</title>
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('images/favicon/apple-icon-180x180.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('images/favicon/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('images/favicon/favicon-16x16.png') }}">
        {% if canonical is defined %}
            <link rel="canonical" href="{{ canonical }}">
        {% endif %}
        <meta name="theme-color" content="#ffffff">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% if metaDescription is defined %}<meta name="description" content="{{ metaDescription }}">{% endif %}
        {% if metaKeywords is defined %}<meta name="keywords" content="{{ metaKeywords }}">{% endif %}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="flex flex-col min-h-screen">
        <main class="flex-grow w-full sm:container sm:mx-auto">
            <div class="max-w-300 centered mx-auto mt-10 mb-20">

                <a href="{{ path('index') }}">
                    <img src="{{ asset("images/cenezivil.webp") }}" alt="Cene živil" class="mx-auto w-1/2 sm:w-1/3 lg:w-1/4">
                </a>

                {% block body %}{% endblock %}
            </div>
        </main>
        <footer>
            <div class="py-4 px-2 text-center text-gray-500 text-sm">
                © {{ "now"|date("Y") }} Cene živil
                <span class="text-gray-500"> | </span>
                <a href="{{ path('disclaimer') }}" class="text-gray-500 hover:text-gray-700 underline">Pravno obvestilo</a>
                <span class="text-gray-500"> | </span>
                <a href="{{ path('terms_of_use') }}" class="text-gray-500 hover:text-gray-700 underline">Pogoji uporabe</a>
            </div>
        </footer>
    </body>
</html>
